<ol class="devs">
  {{#each model as |person|}}
    <li class="{{if isCool 'cool'}}">{{person.name}}</li>
  {{/each}}
</ol>

<button is-cool={{isCool}} {{action "toggleCool"}}>Make 'em {{if isCool 'un'}}cool</button>
